
<!-- input:

 -->

{% assign reviews = site.data.reviewing %}
{% assign ocs = site.data.oc %}
{% assign pcs = site.data.pc %}
{% assign venues = site.data.venues | sort: "short_name" %}

{% assign start_year = 2012 %}
{% assign end_year = 'now' | date: "%Y" | plus: 1 %}

{% assign header_width = 55 %}
{% assign cells = end_year | minus: start_year | plus: 1 %}
{% assign cell_width = 100 | minus: header_width | divided_by: cells %}


{% assign types = "conference,journal,special,workshop" | split: ","	%}

<!-- start with the legend -->
<table class="legend"><tbody><tr>
	<td><h4>Legend:</h4></td>
	<td class="cell"><div class="symbol pc"></div>Program Committee Member</td>
	<td class="cell"><div class="symbol review"></div>Reviewer</td>
</tr></tbody></table>



{% for type in types %}
	<table>
	<tbody>
	<tr>
	<td class="header"><h4>
	{% case type %}
		{% when 'conference' %}
			Conferences
		{% when 'journal' %}
			Journals
		{% when 'special' %}
			Specific Tracks
		{% when 'workshop' %}
			Workshops
		{% else %}
			 <span class="error">Unknown type: {{type}}</span>
	{% endcase %}
	</h4></td>
	{% for i in (start_year..end_year) %}
		<td class="year" style="width: {{cell_width}}%">{{i}}</td>
	{% endfor %}
	</tr>

	{% for venue in venues %}
		{% if venue.type != type %}
			{% continue %}
		{% endif %}

		<!-- skip empty rows -->
		{% assign has_one = false %}
		{% for i in (start_year..end_year) %}
			{% assign year = i | append: '' %}
			{% for d in reviews %}
				{% if d.venue == venue.alias %}
					{% assign _review = d[year] | plus: 0 %}
					{% if _review > 0 %}{% assign has_one = true %}{% break %}{% endif %}
				{% endif %}
			{% endfor %}
			{% for d in pcs %}
				{% if d.venue == venue.alias %}
					{% assign _pc = d[year] | plus: 0 %}
					{% if _pc > 0 %}{% assign has_one = true %}{% break %}{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}

		{% if has_one == false %}
			{% continue %}
		{% endif %}

		<tr>
		<td class="header">
			{% case type %}
				{% when 'conference' or 'special' or 'workshop'%}
				{{venue.short_name}} <span class="details">({{venue.topic}})</span>
				{% when 'journal' %}
					{{venue.topic}}, <span class="details">{{venue.editor}}</span>
				{% else %}
					 <span class="error">Unknown type: {{type}}</span>
			{% endcase %}
		</td>

		{% for i in (start_year..end_year) %}
			{% assign year = i | append: '' %}
			{% assign _review = blank %}
			{% assign _oc = blank %}
			{% assign _pc = blank %}
			<!-- get info about reviewing -->
			{% for d in reviews %}
				{% if d.venue == venue.alias %}
					{% assign _review = d[year] | plus: 0 %}
					{% break %}
				{% endif %}
			{% endfor %}
			<!--
			{% for d in ocs %}
				{% if d.venue == venue.alias %}
					{% assign _oc = d[year] | plus: 0 %}
					{% break %}
				{% endif %}
			{% endfor %}
			-->
			{% for d in pcs %}
				{% if d.venue == venue.alias %}
					{% assign _pc = d[year] | plus: 0 %}
					{% break %}
				{% endif %}
			{% endfor %}

			<!-- the div encodes the data -->
			{% assign div_class = "symbol" %}
			{% assign td_class = "cell" %}

			{% if _pc != blank and _pc > 0 %}
				{% assign div_class = div_class | append: " pc" %}
			{% endif %}
			<!--
			{% if _oc != blank and _oc > 0 %}
				{% assign td_class = td_class | append: " oc" %}
			{% endif %}
			-->
			{% if _review != blank and _review > 0 %}
				{% assign div_class = div_class | append: " review" %}
			{% endif %}

			<td class="{{td_class}}" style="width: {{cell_width}}%">
			<div class="{{div_class}}"></div>

			<!--{{_review}},{{_oc}},{{_pc}}-->
			</td>
		{% endfor %}
		</tr>
	{% endfor %}

	</tbody>
	</table>


{% endfor %}
