{% assign all_courses = site.data["teaching"] %}
{% assign workplaces = site.data["workplaces"] %}
{% assign workplaces = workplaces | sort: 'start_year' %}

{% for workplace in workplaces reversed %}
	
	{% assign courses = all_courses | where: "workplace", workplace.alias %}
	
	{% unless courses.size == 0 %}
		<h3>{{workplace.name}} <span class="inline-subtitle">| {{workplace.country}}</span></h3>
		<table class="teaching-table">
		{% assign courses = courses | sort: 'year' %}
		{% for course in courses reversed %}
			{% assign year_start = course.year %}
			{% assign year_end = year_start | plus: 1 %}
				
				<tr>
					<td class="header">
						<span class="year">{{year_start}}/{{year_end}}</span> 
						<span class="term">({{course.term}})</span>
					</td>
					<td>
						<div>
							{% if course.id %}
								<span class="course-id">{{course.id}} - </span>
							{% endif %}
							<span class="course-name">{{course.name}}</span>
						</div>
						<div>
							<span class="role">{{course.role}}</span>
							 | <span class="level">{{course.level}} course</span>
							{% if course.students %}
								 | <span class="students">{{course.students}} students</span>
							{% endif %}
							<div>
								<span class="course-description">{{course.description}}</span>
							</div>
						</div>
					</td>
				</tr>
		{% endfor %}
	</table>
	{% endunless %}
	
	
	
{% endfor %}
