
<!-- input: 
_video_name
 -->

{% assign valid = false %}

{% if video_name contains "http://www.youtube.com/watch?v=" %}
	{% assign video_id = video_name | remove: "http://www.youtube.com/watch?v=" %}
	{% assign url_id = "https://www.youtube.com/embed/" | append: video_id %}
	{% assign valid = true %}

{% elsif video_name contains "https://youtu.be/" %}
	{% assign video_id = video_name | remove: "https://youtu.be/" %}
	{% assign url_id = "https://www.youtube.com/embed/" | append: video_id %}
	{% assign valid = true %}

{% elsif video_name contains "https://vimeo.com/" %}
	{% assign video_id = video_name | remove: "https://vimeo.com/" %}
	{% assign url_id = "https://player.vimeo.com/video/" | append: video_id %}
	{% assign url_id = url_id | append: "?title=0&byline=0" %}
	{% assign valid = true %}

{% endif %}

{% if valid == true %}
	<div class="video-container video-container-16x9">
	<iframe src="{{url_id}}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
{% else %}
	<div class="error">Cannot embed video: {{video_name}}. Add video link format to includes/embed-video.html</div>
{% endif %}





