{% assign guest_lectures = site.data["guest-lectures"] %}
{% assign workplaces = site.data["workplaces"] %}
	
	<table class="teaching-table">
		{% assign guest_lectures = guest_lectures | sort: 'year' %}
		{% for lecture in guest_lectures reversed %}
			{% assign date = lecture.year | append: "-" | append: lecture.month | append: "-01" %}
			
			{% assign place = '' %}
			<!-- check the place exists -->
			{% for p in site.data.workplaces %}
				{% if p.alias == lecture.location %}
					{% assign place = p %}
				{% endif %}
			{% endfor %}
			{% if place == '' %}
				<span style="color: red">Missing place for: {{lecture}}</span>
			{% endif %}
			
			<tr>
				<td class="header">
					<span class="year">{{date | date: "%b. %Y"}}</span>
				</td>
				<td>
					<div>
						<span class="course-name">{{lecture.title}}</span>
					</div>
					<div>
						{% if lecture.id %}
							<span class="course-description">{{lecture.id}} - </span>
						{% endif %}
						<span class="course-description">{{lecture.name}}</span>
						 | <span class="course-description">{{place.name}}, {{place.country}}</span>
					</div>
				</td>
			</tr>
		{% endfor %}
	</table>
	
	