	{% for post in site.categories.blog %}
		{% if post.url == page.url %}
			{% assign post_index0 = forloop.index0 %}
			{% assign post_index1 = forloop.index %}
		{% endif %}
	{% endfor %}

	{% for post in site.categories.blog %}
		{% if post_index0 == forloop.index %}
			{% assign next_post_href = post.url %}
			{% assign next_post_title = post.title %}
			{% assign next_post_thumb = post.thumb %}
		{% endif %}
		{% if post_index1 == forloop.index0 %}
			{% assign prev_post_href = post.url %}
			{% assign prev_post_title = post.title %}
			{% assign prev_post_thumb = post.thumb %}
		{% endif %}
	{% endfor %}
	
	<div class="blog-paginate">

		{% if prev_post_href %}
			<a href="{{ prev_post_href }}"  class="icon-paginate previous">
				<img src="/images/icon/icon_previous.png"/>
				<text>Previous blog post:<br/>{{prev_post_title}}</text>
				<img src="{{ prev_post_thumb }}"/>
			</a>
		{% endif %}
		
		{% if next_post_href %}
			<a href="{{ next_post_href }}" class="icon-paginate next">
				<img src="/images/icon/icon_next.png"/>
				<text>Next blog post:<br/>{{next_post_title}}</text>
				<img src="{{ next_post_thumb }}"/>
			</a>
		{% endif %}
	
	</div>