<p>
I am a Lecturer (eq. Assistant Professor) in the Department of Computer Science at <a href='http://www.city.ac.uk/' title='' rel='nofollow' target='_blank'>City, University of London</a>, and part of the <a href='http://www.gicentre.org/' title='' rel='nofollow' target='_blank'>giCentre</a> research group.
</p>

<p>
I am a computer scientist specializing in information visualization and human computer interaction. I conduct research on designing and studying new interactions for visualizations and on understanding how people may make use of and interact with visualizations in their everyday lives. I am particularly interested in designing visualization tools for authoring personal visualizations and for exploring and communicating open data; in sports visualization; and in visualization beyond the desktop.
</p>

<p>
Before joining City, I was a Post-doc in the Department of Computer Science at the University of Calgary, <a href='http://innovis.cpsc.ucalgary.ca/' title='' rel='nofollow' target='_blank'>InnoVis</a>, with <a href='http://pages.cpsc.ucalgary.ca/~sheelagh/wiki/pmwiki.php' title='' rel='nofollow' target='_blank'>Sheelagh Carpendale</a>.
I obtained my PhD on <i>Direct Manipulation for Information Visualization</i>, at Universit&eacute; Paris Sud-XI in 2014, under the supervision of <a href='http://www.lri.fr/~fekete/' title='' rel='nofollow' target='_blank'>Jean-Daniel Fekete</a>
in the <a href='http://www.inria.fr' title='' rel='nofollow' target='_blank'>INRIA</a> team <a href='http://www.aviz.fr' title='' rel='nofollow' target='_blank'>AVIZ</a>
and <a href='http://perso.limsi.fr/Individu/vernier/' title='' rel='nofollow' target='_blank'>Fr&eacute;d&eacute;ric Vernier</a>
in the <a href='http://www.limsi.fr/' title='' rel='nofollow' target='_blank'>LIMSI</a>-<a href='http://www.cnrs.fr/' title='' rel='nofollow' target='_blank'>CNRS</a>
team <a href='http://www.limsi.fr/Scientifique/ami/' title='' rel='nofollow' target='_blank'>AMI</a>.
</p>