

<table class="teaching-table">
	{% assign activities = activities | sort: 'year' %}
	{% for activity in activities reversed %}
		{% assign date = activity.year | append: "-" | append: activity.month | append: "-01" %}
			
		<tr>
			<td class="header">
				<span class="year">{{date | date: "%b. %Y"}}</span>
			</td>
			<td>
				<div>
					<span class="simple_activity-description">{{activity.description}}</span>
					{% if activity.context != blank %}
						<span class="simple_activity-context"> | {{activity.context}}</span>
					{% endif %}
					<span class="simple_activity-location">
					 | {{activity.location}}</span>
				</div>
			</td>
		</tr>
	{% endfor %}
</table>
	
	