<!-- input: 
 -->

{% assign students = site.data.students | sort: "start" %}
{% assign locations = "city,calgary" | split: "," %}
{% assign categories = "phd,graduate,undergraduate" | split: "," %}

{% for location in locations %}
	
	<!-- find corresponding place -->
	{% assign place = '' %}
	{% for p in site.data.workplaces %}
		{% if p.alias == location %}
			{% assign place = p %}
		{% endif %}
	{% endfor %}
	{% if place == '' %}
		<span style="color: red">Missing place for: {{location}}</span>
	{% endif %}
	<h3>{{place.name}} <span class="inline-subtitle">| {{place.country}}</span></h3>
	
	{% for category in categories %}
		<h4>
		{% case category %}
			{% when 'phd' %}
				 PhD Students/Candidates
			{% when 'graduate' %}
				Master Students
			{% when 'undergraduate' %}
				Undergraduate Students
		{% endcase %}
		</h4>
		
		<table class="teaching-table">
		
		{% for student in students reversed%}
			
			<!-- filter location -->
			{% if student.location != location %}
				{% continue %}
			{% endif %}
			
			<!-- filter category -->
			{% if student.level != category %}
				{% continue %}
			{% endif %}
					
			<!-- retrieve student info -->
			{% assign person = '' %}
			{% for v in site.data.people %}
				{% if v.alias == student.alias %}
					{% assign person = v %}
				{% endif %}
			{% endfor %}
			{% if person == '' %}
				<span style="color: red">Missing student: {{student}}</span>
			{% endif %}
			
			<!-- retrieve with info -->
			{% if student.with != blank %}
				{% assign with = '' %}
				{% for v in site.data.people %}
					{% if v.alias == student.with %}
						{% assign with = v %}
					{% endif %}
				{% endfor %}
				{% if with == '' %}
					<span style="color: red">Missing with for student: {{student}}</span>
				{% endif %}
			{% endif %}
			
			<tr>
				<td class="header">
					{% comment %}{% assign period = student.start | date: "%Y" %}{% endcomment %}
					{% assign period = student.start %}
					{% if student.end == blank %}
						{% assign end = "..." %}
					{% else %}
						{% assign end = student.end %}
						{% comment %}{% assign end = student.end | date: "%Y" %}{% endcomment %}
					{% endif %}
					<span class="year">
						{% if student.end == student.start %}
							{{period}}
						{% else %}
							{{period | append: " - " | append: end}}
						{% endif %}
					</span>
				</td>
				<td>
					<span class="course-name">
						{% assign full_name = person.first | append: " " | append: person.last %}
						{% if person.url != blank %}
							<a href="{{person.url}}" class="person">{{full_name}}</a>
						{% else %}
							{{full_name}}
						{% endif %}
						
					</span>
					{% if student.topic != blank %}
						 | <span class="student-description">{{student.topic}}</span>
					{% endif %}
					 {% if student.with != blank %}
						 | <span class="student-with">with 
							<a href="{{with.url}}" class="person">{{with.first}} {{with.last}}</a>
						 </span>
					{% endif %}
				</td>
			</tr>
			
			
		{% endfor %}
		
		</table>
		
	{% endfor %}
	
{% endfor %}

