{% include header.html %}

{% for post in paginator.posts %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p class="author">
            <span class="date">{{ post.date }}</span>
        </p>
    <div class="content">
        {{ post.content }}
    </div>
{% endfor %}

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<article class="box post white">
						
						<header>
							<h2>{{page.title}}</h2>
							<p>{{page.subtitle}}</p>
						</header>
		
						<div class="row">
							<div class="12u">

								<!-- Blog -->
									<section class="blog-section">

										
										{% assign posts = site.categories['blog'] | sort:'date' | reverse %}
										
										{% for blog in posts %}
											
											<div class="row blog-post">
												<div class="4u 12u(mobile)">
													<a href="{{ blog.url | prepend: site.baseurl}}" class="image">
														<div class="img-zoom-wrapper">
															<img src="{{ blog.thumb | prepend: site.baseurl}}"/>
														</div>
													</a>
												</div>
												
												<div class="8u 12u(mobile)">
													<header class="title">
														<h4>{{blog.title}}</h4>
														<p>{{blog.subtitle}}</p>
														<p>{{ blog.date | date: "%B %d, %Y" }}</p>
													</header>
													<p>{{blog.description_short}}</p>
												</div>
											</div>
										{% endfor %}
									</section>
							</div>
						</div>
						</article>
					</div>
				</div>



{% include footer.html %}
