{% include header.html %}
			
			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="2u"></div>
							<div class="8u">
									<section>
										<header>
											<h2>{{page.title}}</h2>
										</header>
									</section>
									<section>
										<ul class="news">
											{% for post in site.categories['news'] %}
											<li>
												<h3>
													{{ post.date | date: "%b. %Y" }}
												</h3>
												<p>{{ post.text }}</p>
											</li>
											{% endfor %}
										</ul>
									</section>
							</div>
							<div class="2u"></div>
						</div>
					</div>
				</div>

{% include footer.html %}
