{% include header.html %}

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">

						<!-- Content -->
							<article class="box post white">
							
								<!-- To number the publications by type -->
								{% assign journal_index = 0 %}
								{% assign conference_index = 0 %}
								{% assign chapter_thesis_index = 0 %}
								{% assign abstract_workshop_demo_poster = 0 %}
								{% assign patent_index = 0 %}

								<!-- First need to count how many publications of each type -->
								{% for pub in site.categories['publications'] %}
									{% if pub.journal_name %}
										{% assign journal_index = journal_index | plus:1%}
									{% elsif pub.conference_name %}
										{% assign conference_index = conference_index | plus:1%}
									{% elsif pub.workshop_name %}
										{% assign abstract_workshop_demo_poster = abstract_workshop_demo_poster | plus:1%}
									{% elsif pub.poster_name %}
										{% assign abstract_workshop_demo_poster = abstract_workshop_demo_poster | plus:1%}
									{% elsif pub.demo_name %}
										{% assign abstract_workshop_demo_poster = abstract_workshop_demo_poster | plus:1%}
									{% elsif pub.contest_name %}
										{% assign abstract_workshop_demo_poster = abstract_workshop_demo_poster | plus:1%}
									{% elsif pub.chapter_name %}
										{% assign chapter_thesis_index = chapter_thesis_index | plus:1%}
									{% elsif pub.thesis_name %}
										{% assign chapter_thesis_index = chapter_thesis_index | plus:1%}
									{% elsif pub.patent_name %}
										{% assign patent_index = patent_index | plus:1%}
									{% endif %}
								{% endfor %}
								
								
								<!-- Now actually create the content -->
								<header>
									<h2>{{page.title}}</h2>
									<p>Use the interactive legend to filter publications</p>
									<div id="pub-legend">
										<div class="pub-legend journal button">(J) Journal articles</div>
										<div class="pub-legend conference button">(C) Conference papers</div>
										<div class="pub-legend abstract workshop poster demo contest button">(A) Abstracts, Workshops, Demos, Posters)</div>
										<div class="pub-legend chapter thesis button">(B) chapter chapters, Theses</div>
									</div>
								</header>
								
								<ul id="pub-ul">
								{% assign sorted_pub = site.categories['publications'] | sort: 'date' | reverse %}
								
								{% assign _show_pub_id = true %}
								{% assign _show_venue_name = true %}
								{% assign _show_acceptance_rate = true %}
								{% assign _show_award = true %}
								
								{% for pub in sorted_pub %}
									
									{% capture currentyear %}{{pub.date | date: "%Y"}}{% endcapture %}
									
									{% if currentyear != year %}
										<header class="major pub-year"><h3> {{ currentyear }} </h3></header>
										{% capture year %}{{currentyear}}{% endcapture %}
									{% endif %}
									
									{% if pub.journal_name %}
										{% assign current_index = journal_index %}
										{% assign current_prefix = 'J' %}
										{% assign journal_index = journal_index | minus:1%}
									{% elsif pub.conference_name %}
										{% assign current_index = conference_index %}
										{% assign current_prefix = 'C' %}
										{% assign conference_index = conference_index | minus:1%}
									{% elsif pub.workshop_name %}
										{% assign current_index = abstract_workshop_demo_poster %}
										{% assign current_prefix = 'A' %}
										{% assign abstract_workshop_demo_poster = abstract_workshop_demo_poster | minus:1%}
									{% elsif pub.poster_name %}
										{% assign current_index = abstract_workshop_demo_poster %}
										{% assign current_prefix = 'A' %}
										{% assign abstract_workshop_demo_poster = abstract_workshop_demo_poster | minus:1%}
									{% elsif pub.demo_name %}
										{% assign current_index = abstract_workshop_demo_poster %}
										{% assign current_prefix = 'A' %}
										{% assign abstract_workshop_demo_poster = abstract_workshop_demo_poster | minus:1%}
									{% elsif pub.contest_name %}
										{% assign current_index = abstract_workshop_demo_poster %}
										{% assign current_prefix = 'A' %}
										{% assign abstract_workshop_demo_poster = abstract_workshop_demo_poster | minus:1%}
									{% elsif pub.chapter_name %}
										{% assign current_index = chapter_thesis_index %}
										{% assign current_prefix = 'B' %}
										{% assign chapter_thesis_index = chapter_thesis_index | minus:1%}
									{% elsif pub.chapter_name %}
										{% assign current_index = chapter_thesis_index %}
										{% assign current_prefix = 'B' %}
										{% assign chapter_thesis_index = chapter_thesis_index | minus:1%}
									{% elsif pub.patent_name %}
										{% assign current_index = patent_index %}
										{% assign current_prefix = 'B' %}
										{% assign patent_index = patent_index | minus:1%}
									{% endif %}
									
									
									{% if current_index < 10 %}
										{% assign current_index_string = '0' | append: current_index %}
									{% else %}
										{% assign current_index_string = '' | append: current_index %}
									{% endif %}
									
									{% assign pub_id = current_prefix | append: '.' | append: current_index_string %}
									
									<li class="thumb-list {{currentyear}}">
										{% include publication-generator.html %}
									</li>

								{% endfor %}
									
								</ul>
							</article>
					</div>
				</div>

{% include footer.html %}


<!-- Stuff for jsarr tag  -->

{% for js in page.jsarr %}
	<script type="text/javascript">
		 {% include {{ js }} %}
	</script>
{% endfor %}

<!-- End Stuff for jsarr tag  -->

